**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.class
dist/JavaFXSSPGER.html
dist/JavaFXSSPGER.html
dist/JavaFXSSPGER.jar
dist/JavaFXSSPGER.jnlp
nbproject/private/private.xml
